Checks: >
  -*,
  bugprone-assert-side-effect,
  bugprone-branch-clone,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-infinite-loop,
  bugprone-integer-division,
  bugprone-macro-parentheses,
  bugprone-multiple-statement-macro,
  bugprone-no-escape,
  bugprone-reserved-identifier,
  bugprone-sizeof-container,
  bugprone-string-literal-with-embedded-nul,
  bugprone-terminating-continue,
  bugprone-uninit-member-var,
  bugprone-unused-raii,
  bugprone-use-after-move,
  bugprone-virtual-near-miss,
  cert-dcl21-cpp,
  cert-err34-c,
  cert-err52-cpp,
  cert-err60-cpp,
  cert-flp30-c,
  cppcoreguidelines-avoid-magic-numbers,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-pro-bounds-pointer-arithmetic,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-special-member-functions,
  google-explicit-constructor,
  hicpp-exception-baseclass,
  hicpp-signed-bitwise,
  misc-misplaced-widening-cast,
  misc-throw-by-value-catch-by-reference,
  performance-faster-string-find,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-string-concatenation,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-no-automatic-move,
  performance-noexcept-move-constructor,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  readability-else-after-return,
  readability-named-parameter,
  readability-redundant-member-init,
  readability-redundant-smartptr-get,
  readability-simplify-boolean-expr,
  modernize-*,
  -modernize-loop-convert,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file
