[submodule "libs/3rdParty/vk-bootstrap"]
	path = libs/3rdParty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "libs/3rdParty/fmt"]
	path = libs/3rdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/3rdParty/imgui"]
	path = libs/3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/3rdParty/vma"]
	path = libs/3rdParty/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "libs/3rdParty/glm"]
	path = libs/3rdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/3rdParty/fastgltf"]
	path = libs/3rdParty/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "libs/3rdParty/tracy"]
    branch = v0.11.1
	path = libs/3rdParty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "libs/3rdParty/sdl3"]
	path = libs/3rdParty/sdl3
	url = https://github.com/libsdl-org/SDL.git
